@page "/"
@using PortfolioShared.Models

<h1 class="display-4 text-center my-4">Developer Portfolio Dashboard</h1>

@if (projects == null)
{
    <p>Loading...</p>
}
else if (projects.Count == 0)
{
    <p>No projects found.</p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var project in projects)
            {
                <div class="col-md-6 mb-4">
                    <ProjectCard Project="@project" />
                </div>
            }
        </div>
    </div>
}