@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using PortfolioClient.Services
@using PortfolioShared.Models
@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize] *@
@inject ProjectService ProjectService
@* @inject AuthenticationStateProvider AuthStateProvider *@
@inject NavigationManager NavigationManager

<h1 class="display-4 text-center my-4">Developer Portfolio Dashboard</h1>

@if (projects == null)
{
    <p>Loading...</p>
}
else if (projects.Count == 0)
{
    <p>No projects found.</p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var project in projects)
            {
                <div class="col-md-6 mb-4">
                    <ProjectCard Project="@project" />
                </div>
            }
        </div>
    </div>
}

@code {
    private List<Project>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjectsAsync();
    }
}